@import 'base';

/* 变量 */
// 导航栏
$navbar-height: 60px;
$navbar-padding: 13px;
$footer-height: 50px;

html, body {
  margin: 0;
  height: 100%;
}

body {
  @include box-sizing(border-box);
}

button:focus {
  outline: 0;
}

button {
  -webkit-user-select: none;
}

.hide {
  display: none !important;
}

.header-panel {
  height: 100%;
  @include flex-layout(column, flex-start, center);
}

/* 导航栏 */
.navbar {
  z-index: 1;
  width: 100%;
  @include flex-layout(row, space-between, center);
  @include box-sizing(border-box);
  height: $navbar-height;
  line-height: $navbar-height;
  background-color: #d9d9d9;
  box-shadow: 0px 2px #bfbfbf;
  padding-left: $navbar-padding;
  padding-right: $navbar-padding;

  button {
    color: white;
    font-size: 16px;
    height: 37px;
    width: 97px;
    border: 0;
    border-radius: 4px;
  }

  // 预约试驾按钮
  .book {
    background-color: #d40e16;
  }

  .cancel {
    background-color: #777;
  }

  /*
  .disapear {
    -webkit-transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transform:  translate(100px);
    width: 0;
    opacity: 0;
  }
  */

  // 左侧logo
  .logo-span {
    color: #333;
    font-weight: bolder;

    .logo {
      width: 36%;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

.container {
  width: 100%;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @include box-sizing(border-box);
}

.bottom-float {
  height: $footer-height;
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100%;
  z-index: 5;

  @include flex-layout(row, flex-start, center);

  .cutting-line {
    display: inline-block;
    border-left: 1px #999 solid;
    height: $footer-height - 20;
  }

  a {
    -webkit-user-select: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;

    display: inline-block;
    height: 100%;
//    background-color: coral;
    text-align: center;
    line-height: $footer-height;

    @include flex(1);
  }

  a.call {
    img {
      width: 34px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  a.bottom-book, a.bottom-cancel {
    img {
      width: 34px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .footer-backdrop {
    @include full-screen();
    z-index: -1;

    background-color: black;
    opacity: 0.7;
  }
}

.content {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 40px;

  img {
    width: 100%;
  }

  p {
    margin-top: 7px;
  }

  .title-top {
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 26px;
  }

  .title-second-line {
    font-size: 18px;
  }

  .title-second {
    margin-top: 7px;
    margin-bottom: 15px;
    text-align: center;
    color: #acacac;
    font-size: 15px;
    font-weight: normal;
  }

  .first-img {
    margin-bottom: 0;
  }

  .small-title {
    font-weight: bolder;
    text-align: left;
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 10px;
  }

  .button-line {
    text-align: center;
    margin-top: 40px;

    .book-btn {
      color: white;
      font-size: 18px;
      height: 37px;
      width: 237px;
      border: 0;
      background-color: #d40e16;
      border-radius: 4px;
    }
  }
}

// 表格页
.form-page {
  @include flex-layout(column, center, center);
  position: relative;
  width: 100%;
  min-height: 430px;
  height: 100%;
  //  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#aaa));
  background-color: black;

  .title-area {
    @include flex-layout(row, flex-start, center);
    margin-bottom: 30px;
    width: 280px;
    color: #eee;
    text-align: left;

    p {
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #eee;
    }

    .attention {
      color: yellow;
      font-size: 13px;
    }
  }

  .form-title {
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .form-list {
    @include simple-list();

    li {
      text-align: left;
      width: 280px;
      margin-bottom: 15px;

      input[type=text], input[type=tel] {
        @include box-sizing(border-box);
        width: 100%;
        padding: 0;
        padding-left: 3px;
        font-size: 18px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 2px;
      }
    }

    li.get-50rmb {
      font-size: 14px;
      color: #fff;

      span {
        color: #e45050;
      }

      a {
        color: #e45050;
        font-size: 10px;
      }
    }

    li.agree-line {
      color: #aaa;
      input {
        vertical-align: top;
      }

      p {
        display: inline-block;
        width: 250px;
        margin-top: 0;
        font-size: 13px;
        span {
          color: #e45050;
        }
      }
    }

    // 标题列
    li.title-item {
      font-size: 18px;
      color: black;
      margin-bottom: 30px;

      p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        color: #4c4c4c;
      }

      span {
        color: #d40e16;
        font-size: 24px;
        vertical-align: middle;
        font-weight: bolder;
      }
    }

    // 按钮列
    li.btn-item {
      button {
        display: block;
        width: 100%;
        height: 46px;
        border: 0;
        font-size: 24px;
        color: white;

        margin-bottom: 10px;
      }

      .submit-btn {
        margin-top: 10px;
        background-color: #d40e16;
      }

      .back2top {
        background-color: #777;
      }
    }
  }
}

.sf-modal {
  @include full-screen();
  z-index: 999;
  @include flex-layout(column, center, center);

  color: black;

  .sf-modal-backdrop {
    @include backdrop(black, 0.6, -1);
  }

  .sf-modal-box {
    @include flex-layout(column, center, center);
    width: 280px;
    //    height: 320px;

    border: 1px #777 solid;
    border-radius: 3px;
    background: #fff;
  }

  .sf-modal-header {
    width: 100%;
    h3 {
      margin: 0;
      padding: 5px;
    }
  }

  .sf-modal-close {
    border: 0;
    padding: 0 3px;
    background: white;

    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
  }

  .sf-modal-content {
    //    @include flex(1);
    //    overflow: scroll;
    //    -webkit-overflow-scrolling: touch;
    //    z-index: 0;
    text-align: left;

    p {
      margin: 0;
      padding: 5px;
    }

    h4 {
      margin: 0;
      padding: 5px;
    }

    ol {
      margin: 0;
      padding: 0 5px 10px 23px;
      font-size: 10px;
    }
  }
}