/* 全局方法 */
/* 变量 */
html, body {
  margin: 0;
  height: 100%; }

body {
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */ }

button:focus {
  outline: 0; }

button {
  -webkit-user-select: none; }

.hide {
  display: none !important; }

.header-panel {
  height: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center; }

/* 导航栏 */
.navbar {
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */
  height: 60px;
  line-height: 60px;
  background-color: #d9d9d9;
  box-shadow: 0px 2px #bfbfbf;
  padding-left: 13px;
  padding-right: 13px;
  /*
  .disapear {
    -webkit-transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transform:  translate(100px);
    width: 0;
    opacity: 0;
  }
  */ }
  .navbar button {
    color: white;
    font-size: 16px;
    height: 37px;
    width: 97px;
    border: 0;
    border-radius: 4px; }
  .navbar .book {
    background-color: #d40e16; }
  .navbar .cancel {
    background-color: #777; }
  .navbar .logo-span {
    color: #333;
    font-weight: bolder; }
    .navbar .logo-span .logo {
      width: 36%;
      vertical-align: middle;
      margin-right: 5px; }

.container {
  width: 100%;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */ }

.bottom-float {
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center; }
  .bottom-float .cutting-line {
    display: inline-block;
    border-left: 1px #999 solid;
    height: 30px; }
  .bottom-float a {
    -webkit-user-select: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: 50px;
    flex: 1;
    -webkit-flex: 1; }
  .bottom-float a.call img {
    width: 34px;
    vertical-align: middle;
    margin-right: 5px; }
  .bottom-float a.bottom-book img, .bottom-float a.bottom-cancel img {
    width: 34px;
    vertical-align: middle;
    margin-right: 5px; }
  .bottom-float .footer-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: black;
    opacity: 0.7; }

.content {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 40px; }
  .content img {
    width: 100%; }
  .content p {
    margin-top: 7px; }
  .content .title-top {
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 26px; }
  .content .title-second-line {
    font-size: 18px; }
  .content .title-second {
    margin-top: 7px;
    margin-bottom: 15px;
    text-align: center;
    color: #acacac;
    font-size: 15px;
    font-weight: normal; }
  .content .first-img {
    margin-bottom: 0; }
  .content .small-title {
    font-weight: bolder;
    text-align: left;
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 10px; }
  .content .button-line {
    text-align: center;
    margin-top: 40px; }
    .content .button-line .book-btn {
      color: white;
      font-size: 18px;
      height: 37px;
      width: 237px;
      border: 0;
      background-color: #d40e16;
      border-radius: 4px; }

.form-page {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 430px;
  height: 100%;
  background-color: black; }
  .form-page .title-area {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 30px;
    width: 280px;
    color: #eee;
    text-align: left; }
    .form-page .title-area p {
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #eee; }
    .form-page .title-area .attention {
      color: yellow;
      font-size: 13px; }
  .form-page .form-title {
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 20px; }
  .form-page .form-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .form-page .form-list li {
      text-align: left;
      width: 280px;
      margin-bottom: 15px; }
      .form-page .form-list li input[type=text], .form-page .form-list li input[type=tel] {
        -moz-box-sizing: border-box;
        /* Firefox 1, probably can drop this */
        -webkit-box-sizing: border-box;
        /* Safari 3-4, also probably droppable */
        box-sizing: border-box;
        /* Everything else */
        width: 100%;
        padding: 0;
        padding-left: 3px;
        font-size: 18px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 2px; }
    .form-page .form-list li.get-50rmb {
      font-size: 14px;
      color: #fff; }
      .form-page .form-list li.get-50rmb span {
        color: #e45050; }
      .form-page .form-list li.get-50rmb a {
        color: #e45050;
        font-size: 10px; }
    .form-page .form-list li.agree-line {
      color: #aaa; }
      .form-page .form-list li.agree-line input {
        vertical-align: top; }
      .form-page .form-list li.agree-line p {
        display: inline-block;
        width: 250px;
        margin-top: 0;
        font-size: 13px; }
        .form-page .form-list li.agree-line p span {
          color: #e45050; }
    .form-page .form-list li.title-item {
      font-size: 18px;
      color: black;
      margin-bottom: 30px; }
      .form-page .form-list li.title-item p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        color: #4c4c4c; }
      .form-page .form-list li.title-item span {
        color: #d40e16;
        font-size: 24px;
        vertical-align: middle;
        font-weight: bolder; }
    .form-page .form-list li.btn-item button {
      display: block;
      width: 100%;
      height: 46px;
      border: 0;
      font-size: 24px;
      color: white;
      margin-bottom: 10px; }
    .form-page .form-list li.btn-item .submit-btn {
      margin-top: 10px;
      background-color: #d40e16; }
    .form-page .form-list li.btn-item .back2top {
      background-color: #777; }

.sf-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: black; }
  .sf-modal .sf-modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1; }
  .sf-modal .sf-modal-box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 280px;
    border: 1px #777 solid;
    border-radius: 3px;
    background: #fff; }
  .sf-modal .sf-modal-header {
    width: 100%; }
    .sf-modal .sf-modal-header h3 {
      margin: 0;
      padding: 5px; }
  .sf-modal .sf-modal-close {
    border: 0;
    padding: 0 3px;
    background: white;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2; }
  .sf-modal .sf-modal-content {
    text-align: left; }
    .sf-modal .sf-modal-content p {
      margin: 0;
      padding: 5px; }
    .sf-modal .sf-modal-content h4 {
      margin: 0;
      padding: 5px; }
    .sf-modal .sf-modal-content ol {
      margin: 0;
      padding: 0 5px 10px 23px;
      font-size: 10px; }
