@import "base";

body {
  background-color: #f0f0f0;
}

#book-form {
  .modal-dialog {
    width: 600px;

    .modal-content {
    }

    .modal-title {
      text-align: center;
    }

    .form-list {
      @include simple-list();
      height: 250px;
      margin: 20px 0 30px 0;
      padding: 0px 27px;

      li {
        text-align: left;
        margin-bottom: 20px;
      }

      li.get-50rmb {
        font-size: 20px;
        color: #666;

        img {
          margin-top: -5px;
          margin-right: 13px;
          width: 77px;
        }

        a {
          color: #e45050;
          text-decoration: underline;
          font-size: 15px;
        }

        a.show-detail {
          cursor: pointer;
        }
      }

      li.input-line {
        border-bottom: 1px #ddd solid;
        padding-bottom: 30px;
        margin-top: 25px;
        margin-bottom: 15px;

        span {
          color: #e45050;
        }
      }

      li.agree-line {
        color: #777;

        input {
          vertical-align: top;
        }

        p {
          display: inline-block;

          span {
            color: #e45050;
          }
        }

      }

      li.submit-line {
        text-align: center;
      }

      label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-size: 17px;
        margin-right: 20px;
        color: #555;

        input {
          width: 170px;
          margin-left: 0;
          height: 35px;
          padding-left: 5px;
        }
      }
    }

    .submit-btn {
      background-color: #e45050;
      border-radius: 3px;
      border: 0;
      //  box-shadow: 0px 3px #CA4848;

      width: 190px;
      font-size: 20px;
      height: 40px;
    }

    .submit-btn:hover {
      background-color: #e45050;
    }


    .modal-body {
      position: relative;
    }

    .pretty-car {
      position: absolute;
      left: -30px;
      bottom: -24px;
    }
  }
}



.container {
  width: 970px;
  position: relative;
}

@mixin red-button() {
  height: 40px;
  width: 220px;
  color: white;
  background-color: #f95d5b;
  border-radius: 3px;
  box-shadow: 0px 3px #CA4848;
  border: 0;
  font-size: 18px;
}

.header {
//  width: 960px;
  text-align: center;
  position: relative;

  background-image: url("../img/cf.png");

  .button-line {
    position: absolute;
    bottom: 28px;
    width: 100%;
    text-align: center;

    button {
      @include red-button();
    }
  }
}

.content {
  margin-bottom: 100px;

  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 24px;

    img {

    }
  }

  img {
    border: 2px #c9c9c9 solid;
  }

  .small-title {
    font-size: 22px;
    color: #333;
    margin-top: 45px;
    margin-bottom: 27px;
    text-align: center;
  }
}

#detail-modal {
  color: #666;

  .modal-title {
    color: #333;
    text-align: center;
  }


  ol {
  }
}

.modal-header {
  background-color: #EFEFEF;
}

.float-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 83px;

  z-index: 1;

  .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background-color: black;
    opacity: 0.5;
  }

  .container {
    width: 700px;
    height: 100%;
    color: white;
    line-height: 83px;

    span {
      vertical-align: middle;
      line-height: 83px;
      font-size: 26px;

      img {
        margin-right: 10px;
      }
    }

    button {
      @include red-button();

      vertical-align: middle;
      line-height: 40px;
      margin-left: 50px;
    }
  }
}