/* 全局方法 */
body {
  background-color: #f0f0f0; }

#book-form .modal-dialog {
  width: 600px; }
  #book-form .modal-dialog .modal-title {
    text-align: center; }
  #book-form .modal-dialog .form-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 250px;
    margin: 20px 0 30px 0;
    padding: 0px 27px; }
    #book-form .modal-dialog .form-list li {
      text-align: left;
      margin-bottom: 20px; }
    #book-form .modal-dialog .form-list li.get-50rmb {
      font-size: 20px;
      color: #666; }
      #book-form .modal-dialog .form-list li.get-50rmb img {
        margin-top: -5px;
        margin-right: 13px;
        width: 77px; }
      #book-form .modal-dialog .form-list li.get-50rmb a {
        color: #e45050;
        text-decoration: underline;
        font-size: 15px; }
      #book-form .modal-dialog .form-list li.get-50rmb a.show-detail {
        cursor: pointer; }
    #book-form .modal-dialog .form-list li.input-line {
      border-bottom: 1px #ddd solid;
      padding-bottom: 30px;
      margin-top: 25px;
      margin-bottom: 15px; }
      #book-form .modal-dialog .form-list li.input-line span {
        color: #e45050; }
    #book-form .modal-dialog .form-list li.agree-line {
      color: #777; }
      #book-form .modal-dialog .form-list li.agree-line input {
        vertical-align: top; }
      #book-form .modal-dialog .form-list li.agree-line p {
        display: inline-block; }
        #book-form .modal-dialog .form-list li.agree-line p span {
          color: #e45050; }
    #book-form .modal-dialog .form-list li.submit-line {
      text-align: center; }
    #book-form .modal-dialog .form-list label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-size: 17px;
      margin-right: 20px;
      color: #555; }
      #book-form .modal-dialog .form-list label input {
        width: 170px;
        margin-left: 0;
        height: 35px;
        padding-left: 5px; }
  #book-form .modal-dialog .submit-btn {
    background-color: #e45050;
    border-radius: 3px;
    border: 0;
    width: 190px;
    font-size: 20px;
    height: 40px; }
  #book-form .modal-dialog .submit-btn:hover {
    background-color: #e45050; }
  #book-form .modal-dialog .modal-body {
    position: relative; }
  #book-form .modal-dialog .pretty-car {
    position: absolute;
    left: -30px;
    bottom: -24px; }

.container {
  width: 970px;
  position: relative; }

.header {
  text-align: center;
  position: relative;
  background-image: url("../img/cf.png"); }
  .header .button-line {
    position: absolute;
    bottom: 28px;
    width: 100%;
    text-align: center; }
    .header .button-line button {
      height: 40px;
      width: 220px;
      color: white;
      background-color: #f95d5b;
      border-radius: 3px;
      box-shadow: 0px 3px #CA4848;
      border: 0;
      font-size: 18px; }

.content {
  margin-bottom: 100px; }
  .content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 24px; }
  .content img {
    border: 2px #c9c9c9 solid; }
  .content .small-title {
    font-size: 22px;
    color: #333;
    margin-top: 45px;
    margin-bottom: 27px;
    text-align: center; }

#detail-modal {
  color: #666; }
  #detail-modal .modal-title {
    color: #333;
    text-align: center; }

.modal-header {
  background-color: #EFEFEF; }

.float-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 83px;
  z-index: 1; }
  .float-footer .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: black;
    opacity: 0.5; }
  .float-footer .container {
    width: 700px;
    height: 100%;
    color: white;
    line-height: 83px; }
    .float-footer .container span {
      vertical-align: middle;
      line-height: 83px;
      font-size: 26px; }
      .float-footer .container span img {
        margin-right: 10px; }
    .float-footer .container button {
      height: 40px;
      width: 220px;
      color: white;
      background-color: #f95d5b;
      border-radius: 3px;
      box-shadow: 0px 3px #CA4848;
      border: 0;
      font-size: 18px;
      vertical-align: middle;
      line-height: 40px;
      margin-left: 50px; }
